body {
 max-width:1440px ;
 max-height: 2350px;
}

.dark-mode{
    background-color:rgba(37, 33, 40, 1) ;
padding-bottom: 208px;

}
.dark-mode h1{
    color: rgba(174, 188, 207, 1) !important;
}

.dark-mode h3{
    color: rgba(183, 170, 255, 1) !important;
}
.dark-mode p{
 color:rgba(255, 255, 255, 1) !important;
}
.dark-mode button{
    background-color: rgba(56, 56, 56, 1) ;
    color: rgba(225, 225, 255, 1) ;
}
.dark-mode h4{
 color:   rgba(255, 255, 255, 1);
}
.dark-mode a{
    color: rgba(225, 225, 255, 1) !important;
}