.ModeSwitch-container{
display:flex;
margin-left:907px;
width: Hug(359px);
height: Hug(38px);
margin-top: 23px;
gap:14px
}
.darkmode-container{
display: flex;
width: Hug (167px);
height: Hug (24px);
gap: 10px;
}

.darkmode{
width: 55px;
height: 24px;
margin-left: 55px;
border-radius: 100px;
transform: rotate(-180deg);
background-color:rgba(71, 49, 211, 1)

}
.toggle-button{
width: 18px;
height: 22px;
transform: rotate(-180deg);
background-color:rgba(255, 232, 110, 1) ;
border-radius: 30px;
margin-left: 3px; 
} 
.darkmode-title{
font-family: 'Inter', sans-serif;
font-size: 15px;
font-weight: 700;
line-height: 18px;
letter-spacing: 0.1em;
text-align: left;

color:rgba(119, 119, 119, 1)

}
.or-symbol{
font-family: 'Inter', sans-serif;
font-size: 15px;
font-weight: 700;
line-height: 18px;
letter-spacing: 0.1em;
text-align: left;

}
.language-container{
 font-family: 'Inter', sans-serif;
font-size: 15px;
font-weight: 700;
line-height: 18px;
letter-spacing: 0.1em;
text-align: left;

}
.language-color_one{
    color: rgba(71, 49, 211, 1);
}
.language-color_two{
  color:  rgba(119, 119, 119, 1);
}
