.footer-container{
 width: 1440px;
height: 409px;
margin-top: 139px;
background-color: rgba(249, 249, 249, 1);
}
.dark-footer-container{
width: 1440px;
height: 409px;
background-color:rgba(20, 20, 20, 1); 
padding-top: 1px;
}
.footer-title{
width: 540px;
margin-left: 125px;
margin-top: 85px;
font-family: 'Inter', sans-serif;
font-size: 42px;
font-weight: 600;
line-height: 53px;
color:rgba(31, 41, 55, 1);
padding-top: 93px;

}
.dark-footer-title{
     width: 540px;
     margin-left: 125px;
     font-family: 'Inter', sans-serif;
     font-size: 42px;
     font-weight: 600;
     line-height: 53px;
     color:rgba(174, 188, 207, 1);
     padding-top: 53px;
}

 .footer-links-area{
    width: 1140px;
    height: 27px;
padding-top: 30px;
margin-left: 125px;
display: flex;
justify-content: space-between;
    
    
 }

 .footer-mail{
width: 299px;
height: 24px;
font-family: 'Inter', sans-serif;
font-size: 20px;
font-weight: 500;
line-height: 24px;
letter-spacing: 0.05em;
text-align: left;
color: rgba(175, 12, 72, 1);
 }
 .footer-links{
display: flex;
flex-direction: row;
width: Hug (294px);
height: Hug (27px);
margin-top: 35px;
gap: 20px;
align-items: center;
 }
 .footer-links p{
width: 121px;
height: 27px;
font-family: 'Inter', sans-serif;
font-size: 18px;
font-weight: 500;
line-height: 27px;
letter-spacing: 0.01em;
text-align: left;
color: rgba(10, 10, 20, 1);
 }
 .footer-github{
    width: 60px;
    height: 27px;
    font-family: 'Inter', sans-serif;
font-size: 18px;
font-weight: 500;
line-height: 27px;
letter-spacing: 0.01em;
text-align: left;
color:rgba(0, 171, 107, 1);
text-decoration: none;
     }
.footer-linkedin{
 width: 74px;
height: 27px;
font-family: 'Inter', sans-serif;
font-size: 18px;
font-weight: 500;
line-height: 27px;
letter-spacing: 0.01em;
text-align: left;
color:rgba(0, 119, 181, 1);
text-decoration: none;
}
.dark-footer-container p{
 color:rgba(186, 178, 231, 1);
}