.project-container{
    width: 1140px;
    height: 575px;
    margin-top: 117px;
    margin-left: 126px;
    border: 1px; 
}
.projects-title{
    width: 191px;
    height: 48px;
   margin-top:49px;
   font-family: 'Inter', sans-serif;
   font-size: 48px;
   font-weight: 600;
   line-height: 48px;
   letter-spacing: 0em;
   text-align: left;
}
.projects-area{
width: Hug (1,140px);
height: Hug (449px);
top: 1533px;
left: 126px;
gap: 120px;
display: flex;
flex-direction: row;
}
.project-area{
    width: Fixed (300px);
height: Hug (449px);
gap: 18px;

}
.project-title{
width: 300px;
height: 28px;
font-family: 'Inter', sans-serif;
font-size: 30px;
font-weight: 500;
line-height: 28px;
letter-spacing: 0em;
text-align: left;
color:rgba(67, 56, 202, 1)
}
.project-explanation{
width: 300px;
height: 126px;
font-family: 'Inter', sans-serif;
font-size: 14px;
font-weight: 400;
line-height: 18px;
letter-spacing: 0em;
text-align: left;
color:rgba(107, 114, 128, 1)
}
.project.buttons{
width: Hug (221px);
height: Hug (27px);


}
.project-button{
width: 68px;
height: 27px;
 padding: 6px, 18px, 7px, 18px; 
border-radius: 4px;
border: 1px solid rgba(55, 48, 163, 1);
background-color: white;
font-family: 'Inter', sans-serif;
font-size: 14px;
font-weight: 500;
line-height: 14px;
letter-spacing: -0.05em;
color:rgba(55, 48, 163, 1);
align-content: center;
margin-left: 5px;
}
.project-link{
    margin-top: 10px;
    width: 300px;
    height:16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.project-link a {
width: 72px;
height: 16px;
font-family: 'Inter', sans-serif;
font-size: 16px;
font-weight: 500;
line-height: 16px;
letter-spacing: 0em;
text-align: left;
color: rgba(55, 48, 163, 1);
}