.kare {
  background-color: white;
  text-align: center;
  height: 15rem;
  width: 45vw;
  margin: 10px;
  border-radius: 35px;
  margin-top: 15px;
  justify-content: space-between;
  filter: drop-shadow(8px 4px 10px gray);
}

.section-footer {
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  justify-content: unsafe center;
  background-color: #c4b5fd;
}
.section-footer h2 {
  font-family: monospace;
  font-size: 35px;
  color: #c4b5fd;
  text-decoration-line: underline;
  text-decoration-style: dashed;

  /* text-shadow: 2px 2px #c4b5fd; */
}
.section-footer p {
  font-family: monospace;
  font-size: 25px;
  color: black;
  margin-top: 3vh;
}
.section-footer h3 {
  font-family: monospace;
  font-size: 20px;
}
.icons {
  display: flex;
  flex-direction: row;
  font-size: 28px;

  padding: 13px;
  gap: 24px;

  color: #c4b5fd;
  text-align: center;
  transform: translateX(43vh);
  margin-top: -1.5%;
}
#sendMeMsc {
  margin-top: 10px;
}

@media only screen and (max-width: 960px) {
  .section-footer {
    text-align: center;
  }
  .icons {
    transform: translateX(41vh);
    display: flex;
  }
}
