.section-profile {
  padding-bottom: 10vh;
  padding: 20px;
  padding-left: 150px;
  padding-right: 150px;
  width: 100vw;
  height: 100vh;
  min-height: 70vh;
  background-color: #c4b5fd;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.section-profile h1 {
  color: #cbf281;
  font-family: monospace;
  font-size: 48px;
  letter-spacing: 2px;
  line-height: 72px;
}
.profile-left {
  transform: translateY(-3vh);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.profile-left h2 {
  font-family: monospace;
  font-size: 30px;
}
.profile-left span {
  color: #cbf281;
  font-family: monospace;
}
.profile-left p {
  font-family: monospace;
  font-size: 15px;
  margin-top: 20px;
  font-weight: 200;
  color: rgb(30, 30, 30);
}
#profilePic {
  border-radius: 15px;
  height: 300px;
  filter: drop-shadow(8px 4px 10px gray);
}
.section-profile h3 {
  color: white;
  font-family: "Inter";
  font-size: 30px;
  letter-spacing: 2px;
  line-height: 30px;
  margin-top: 20px;
}
.About-Me h3 {
  color: #cbf281;
}
.About-Me p {
  max-width: 25vw;
  color: rgb(9, 9, 9);
  font-size: 15px;
  font-family: monospace;
  padding-top: 25px;
}

/* responsive */

@media only screen and (max-width: 1160px) {
  .section-profile {
    align-items: center;
    text-align: center;
    height: 100%;
  }
  #profilePic {
    border-radius: 15px;
    height: 120px;
    filter: drop-shadow(8px 4px 10px gray);
  }
}
@media only screen and (max-width: 640px) {
  .section-profile {
    align-items: center;
    text-align: center;
    background-color: #c4b5fd;
  }
  #profilePic {
    border-radius: 15px;
    height: 120px;
    filter: drop-shadow(8px 4px 10px gray);
  }
}
