.section-project {
  min-height: 150vh;
  width: 100vw;
  background-color: #ffffff;
  display: grid;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-top: 25vh;

}

.section-profile-header {
  color: #a5b4fc;
  font-family: monospace;
  font-size: 2.25rem;
  letter-spacing: 2px;
  width: 70vw;
  line-height: 72px;
  margin-top: 10px;
  margin-bottom: 10px;
  transform: translateX(5vh);
  text-align: center;
  font-weight: bold;

}
.project-card-container {
  height: 360px;
  width: 73vw;
  margin: 10px;
  background-color: white;
  display: flex;
  border-radius: 25px;
  margin-top: 15px;
  justify-content: space-between;
  filter: drop-shadow(3px 2px 2px gray);
  text-align: center;
  padding-right: 20px;


  
}
.projectImg {
  /* scale: 0.9; */
  border-radius: 4%;
  /* filter: drop-shadow(8px 8px 10px gray); */
  width: 200vh; /* Genişliği 200 piksel yapar */
  height: auto;
 
}

.text-card {
  display: flex;
  font-family: monospace;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
  padding-left: 20px;
  text-align-last: center;
}
.text-card h2 {
  color: #a5b4fc;
  font-family: monospace;
  font-size: 38px;
  font-weight: 600;
  margin-top: 6%;
  text-align: center;
  font-weight: bold;
}
.description-project {
  font-size: 16px;
  font-family: monospace;
  font-weight: 400;
  line-height: 20px;
}

.tags--project {
  display: flex;
  text-align: justify;
  align-items: center;
  /*   flex-direction: row; */
}
.text-project-tag {
  text-align: center;
  font-family: monospace;
  font-size: 14px;
  font-weight: 40;
  line-height: 16px;
  letter-spacing: -0.05em;

  padding: 8px 10px 9px;
  gap: 150px;
  width: 90px;
  height: 30px;
  color: white;
  background-color: #a5b4fc;
  border-radius: 23px;
  margin-right: 12px;
  align-items: center;
  text-align: center;
  transform: translateX(18.5vh);
  display: grid;
}
.links-projects {
  /*  display: flex;
    flex-direction: row; */
  text-align: center;
}
.links-projects a {
  font-family: monospace;
  line-height: 19px;
  font-size: 15px;
  margin-right: 15px;
  color: black;
  text-decoration: underline;
  margin-right: 30px;
}
/* Responsive */

@media only screen and (max-width: 1160px) {
  .section-project {
    min-height: 490vh;
    padding-top: 0vh;
  }
  .section-profile-header {
    text-align: left;
    padding-top: 0;
    
  }
  .project-card-container {
    text-align: left;
    justify-content: space-between;
    filter: drop-shadow(8px 4px 10px gray);
    padding-right: 20px;
    flex-direction: column;
    max-height: 150px;
    min-height: 100vh;
    max-height: 60vh;
    margin: 14px;
    padding: 0px;
    width: 65vw;
    width: min-content;
  }
  .text-project-tag {
    padding-right: 20px;
    flex-direction: column;
    max-height: 150px;

    padding: 0px;
    align-items: center;
    justify-content: center;
  }
  .text-card {
    padding-left: 0px;
    padding: 1px;
  }
  .section-project {
    padding-right: 20px;
    flex-direction: row;
    max-height: 150px;
    font-size: 12px;

    padding: 0px;
    align-items: center;
    justify-content: center;
  }
  .tags--project {
    display: flex;
    justify-content: center;
    transform: translateX(-18.5vh);
  }
  .text-project-tag {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0px;
    margin: 4px;
  }
  .links-projects a {
    margin-right: 0px;
    margin: 15px;
  }
}
@media only screen and (max-width: 640px) {
  .section-profile-header {
    font-size: 2.9vh;
    font-weight: bold;
    text-align: center;
    margin-bottom: -20vw;
    padding-top: 0;
    display: flex;
    justify-content: space-around;
    padding-bottom:-80vw;
   
  }
  .text-card h2 {
    font-size: 4vh;
    text-align: center;
  }
  .section-project {
    align-items: center;
    text-align: center;
    height: 100%;
    padding-top: 0vh;
    margin-bottom: 0;

  }
  .description-project {
    text-align: center;
  }
  .text-project-tag {
    display: flex;
    justify-content: center;
    margin-right: 0px;
    margin: 4px;
    align-items: center;
  }
  .links-projects a {
    margin-right: 0px;
    margin: 15px;
  }
}
@media only screen and (max-width: 1024px) {
  .description-project {
    font-size: 13px;
  }
  .tags--project {
    /*     width: min-content; */
    padding-bottom: 0px;
  }
  .project-card-container {
    padding-bottom: 0px;
  }
  .section-profile-header {
padding-top: -80vw;
    align-items: center;
  }
}
