.section-skills {
  width: 100vw;
  min-height: 50vh;
  max-width: 90vw;
  display: flex;
  justify-content: space-around;
  padding-top: 90px;
  

}
.right-skills {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 50%;
  transform: translateX(30vw) translateY(10vh);
  padding-left: 70px;
  

}
.skills-set {
  display: flex;
  align-items: center;
  margin-top: 20px;
  width: 50%;
  font-family: monospace;
  padding-left: 80px;
}
.skills-set img {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  margin: 5px;
  opacity: 0.5;
  transition: opacity 300ms ease-in-out;
}
.skills-set:hover {
  transform: translateX(2vw);
  
}
.skills-set img:hover {
  opacity: 1;
}
/* updated */
#skillsUpdate {
  transform: translateX(-5vw);
}

#skillsUpdate:hover {
  transform: scale(1.1) translateX(-2vw);
}
.header-skills h2 {
  margin-bottom: 9vh;
}
/*  Responsive */
@media only screen and (max-width: 960px) {
  .section-skills {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;

  }
  .right-skills {
    width: 100vw;
    transform: scale(0.9) ;
    padding-right: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 100%;


  }
  .skills-set {
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 6vw;
  }
  .header-skills {
    transform: unset;
    font-size: 40px;
    margin-left: 5vw;
  }
  
  .skills-set img {
    width: 75px;
    height: 75px;
  }
  
}

@media only screen and (max-width: 660px) {
  #section-skills {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    max-width: 90vw;
  }
  .right-skills {
    width: 100vw;
    transform: scale(0.9);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    transform: translateX(-6vw) translateY(-3vh);
    min-height: 100%;


  }
  .skills-set {
    max-width: 100%;
    display: flex;
    align-items: center; 
  }
}
@media only screen and (max-width: 1024px) {
  #section-skills {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    max-width: 90vw;
    padding-bottom: 20vw;
  } 
}
