.section-skills {
  background-color: #cbf281;
  width: 100vw;
  min-height: 50vh;
  max-width: 90vw;
  display: flex;

  justify-content: space-around;
  margin: 500%;
}
.right-skills {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 60vw;
  transform: translateX(30vw) scale(1.1) translateY(10vh);
}
.skills-set img {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  margin: 5px;
}
.skills-set:hover {
  transform: scale(1.1) translateX(2vw);
}
/* updated */
#skillsUpdate {
  transform: translateX(-5vw);
}

.skills-set {
  display: inline-block;
  text-transform: uppercase;
  align-items: center;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-top: 20px;
  width: 50%;
  font-family: monospace;
}

.skills-set p {
  transform: translateY(5vh) translateX(-20vh);
  color: rgb(92, 91, 91);
  margin: 5px;
  padding-left: 5px;
  float: right;
  text-align: left;
  width: -1px;
}
#skillsUpdate:hover {
  transform: scale(1.1) translateX(-2vw);
}
.header-skills h2 {
  margin-bottom: 9vh;
}
/*  Responsive */
@media only screen and (max-width: 960px) {
  .section-skills {
    flex-direction: column;
  }
  .right-skills {
    width: 100vw;
    transform: scale(0.9);
  }
  .header-skills {
    transform: unset;
    font-size: 40px;
    margin-left: 5vw;
  }
  .skills-set p {
    font-size: 18px;
    transform: translateY(25px) translateX(-5px);
  }
  .skills-set {
    max-width: 50vw;
  }
  .skills-set img {
    width: 75px;
    height: 75px;
  }
  #smallFont {
    font-size: 15px;
  }
}

@media only screen and (max-width: 660px) {
  #section-skills {
    flex-direction: column;
    max-height: 50px;
    min-height: 60vh;
    max-height: 60vh;
    margin: 0px;
    padding: 0px;
  }
}
