#headerFontUp {
  transform: translateX(-12rem);
  margin: 2%;
}
#headerFontUpBG {
  transform: translateX(-10rem);
  text-align: left;
}
#buttonContainer {
  transform: translateX(-35.75rem);
  margin: 5%;
}
