@import url(https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap);
* {
  margin: 0px;
  padding: 0px;
  /* Sayfayı ikiye bölebildim */
  box-sizing: border-box;
  
}
body {
  overflow-x: hidden;
 display: flex;
 justify-content: center;
 align-items: center;
margin: 0;
}
@media only screen and (max-width: 660px)  {
.section-skills, .section-project, .section-profile, .section-footer {
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
 margin: 0;
}

}
